@import "../variables";

.article {
  display: grid;

  @media (max-width: $mobileBreakpoint) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "details"
      "contacts"
      "buy"
      "footer";
  }

  @media (min-width: $desktopBreakpoint) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "details contacts buy"
      "footer footer footer";
  }
}

.headerContainer {
  grid-area: header;
  background: var(--brand-color) no-repeat;
  background-size: cover;

  @media (max-width: $mobileBreakpoint) {
    background-image: url("/assets/bg-m-p1.min.jpg");
    height: 125vw;
  }

  @media (min-width: $desktopBreakpoint) {
    background-image: url("/assets/bg-d-p1.min.jpg");
    height: 56.25vw;
  }
}

.details {
  grid-area: details;
}

.socialInfo {
  grid-area: contacts;
}

.buyCourse {
  grid-area: buy;
}

.footer {
  grid-area: footer;
}

.header {
  background: transparent;

  @media (min-width: $desktopBreakpoint) {
    max-width: 75vw;
  }
}
