@import "../variables";

.nav {
  background: var(--brand-color) no-repeat;
  background-size: cover;

  @media (max-width: $mobileBreakpoint) {
    background-image: url("/assets/bg-m-p1.min.jpg");
    width: 100vw;
    height: 125vw;
  }

  @media (min-width: $desktopBreakpoint) {
    background-image: url("/assets/bg-d-p1.min.jpg");
    width: 100vw;
    height: 56.25vw;
  }
}

.logo {
  fill: #fff;
  max-width: 16.25vw;
}
