// MOBILE STYLES
.page-3 {
  background: transparent url("../assets/bg-m-p3.min.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 125vw;
  color: #fff;

  .contacts-list {
    list-style: none;
    padding: 1em 0 0 2em;
    margin: 0;

    > li {
      font-size: 1.1em;
      margin-bottom: 1em;

      &.fb::before,
      &.insta::before,
      &.gmail::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 1.2em;
        height: 1.2em;
        margin: 0 0.5em 0 -1.2em;
      }

      &.fb::before {
        background: transparent url("../assets/icon-fb-w-128px-m.png") no-repeat;
        background-size: contain;
      }

      &.insta::before {
        background: transparent url("../assets/icon-insta-w-128px-m.png") no-repeat;
        background-size: contain;
      }

      &.gmail::before {
        background: transparent url("../assets/icon-gmail-w-128px-m.png") no-repeat;
        background-size: contain;
      }

      > a {
        color: #fff;

        &:focus,
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
