@import "../variables";

.footer {
  color: #fff;
  background: transparent url("/assets/footer-bg.min.jpg") no-repeat;
  background-size: cover;
  display: grid;

  @media (max-width: $mobileBreakpoint) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "company-info"
      "langs"
      "sitemap"
      "copyright";
  }

  @media (min-width: $desktopBreakpoint) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "company-info langs sitemap"
      "copyright copyright copyright";
  }

  a {
    color: #fff;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
      color: #fff;
    }

    &:visited,
    &:active {
      color: #fff;
      opacity: 0.9;
    }
  }
}

.companyData,
.langs,
.sitemap {
  padding: 1em;
}

.companyData {
  grid-area: company-info;
  text-align: left;
}

.langs {
  grid-area: langs;
}

.sitemap {
  grid-area: sitemap;

  > h5 {
    margin: 0 0 0.5em 0;
  }
}

.copyright {
  grid-area: copyright;
  text-align: center;
  padding-bottom: 1em;

  :global(.nowrap) {
    white-space: nowrap;
    word-break: keep-all;
  }
}
